/reversedrop
/reversedrop-gui
/reversedrop.exe
/reversedrop-gui.exe
/reversedrop-linux-amd64
/reversedrop-linux-arm64
/reversedrop-darwin-amd64
/reversedrop-darwin-arm64
/reversedrop-windows-amd64.exe
/reversedrop-gui-linux-amd64
